.home {
    width: 100%;
}

.home .top_banner {
    max-width: 100%;
    background: url('../images/slide-1.webp');
    background-position: center;
    height: 510px;
    width: 100%;
    background-repeat: no-repeat;
}

.home .top_banner .contant {
    width: 100%;
    position: relative;
    top: 20%;
    padding: 10px 50px;
}

.home .top_banner .contant h3 {
    color: #cd1e76;
    font-weight: 300;
    letter-spacing: 1px;
}

.home .top_banner .contant h2 {
    text-transform: uppercase;
    color: #232323;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 42px;
    margin-top: 10px;
}

.home .top_banner .contant p {
    color: #232323;
    letter-spacing: 1px;
    margin-top: 10px;
}

.home .top_banner .contant .link {
    margin-top: 20px;
    padding: 10px 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    background: #ccc;
    text-decoration: none;
    border-radius: 10px;
    color: #cd1e76;
    transition: all 0.25s ease-in;
}

.home .top_banner .contant .link:hover {
    color: #ccc;
    background-color: #cd1e76;
}

.home .trending {
    padding: 20px 30px;
    width: 100%;
}

.home .trending .container {
    max-width: 100%;
    display: flex;
}

.home .trending .container .left-box {
    padding: 10px 20px;
    width: 75%;
}

.home .trending .container .left-box .header {
    display: flex;
    max-width: 100%;
    padding: 10px 10px;
    justify-content: space-between;
    background-color: #f6f7f8;
}

.home .trending .container .left-box .header .heading h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #232323;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.home .trending .container .left-box .header .heading h2:hover {
    color: #cd1e76;
}

.home .trending .container .left-box .header .cate {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home .trending .container .left-box .header .cate h3 {
    margin-right: 10px;
    color: #232323;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.home .trending .container .left-box .header .cate h3:hover {
    color: #cd1e76;
}

.home .trending .container .left-box .products {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.home .trending .container .left-box .products .show_btn {
    padding: 10px 30px;
    border: 1px solid #cd1e76;
    font-size: 17.1px;
    /* display: inline-block; */
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    background-color: #cd1e76;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.home .trending .container .left-box .products .show_btn:hover {
    background-color: #fff;
    color: #cd1e76;
}

.home .trending .container .left-box .products .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.home .trending .container .left-box .products .container .box {
    width: 195px;
    height: 295px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background: #f6f7f8;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #f6f7f8;
    cursor: pointer;
    transition: all 0.24s ease-in;
}

.home .trending .container .left-box .products .container .box:hover {
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.36);
}

.home .trending .container .left-box .products .container .box .img_box {
    display: flex;
    gap: 10px;
}

.home .trending .container .left-box .products .container .box .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .trending .container .left-box .products .container .box .img_box .icon {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
    margin-top: 10px;
    transition: all 0.19s ease-in;
}

.home .trending .container .left-box .products .container .box .img_box .icon .icon_box {
    padding: 15px 20px;
    background-color: #fff;
    color: #cd1e76;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease-in;
}

.home .trending .container .left-box .products .container .box .img_box .icon .icon_box:hover {
    background-color: #cd1e76;
    color: #fff;
}

.home .trending .container .left-box .products .container .box:hover .img_box .icon {
    margin-left: -80px;
    z-index: 100;
}

.home .trending .container .left-box .products .container .box .img_box img {
    transition: all 0.15s ease-in;
}

.home .trending .container .left-box .products .container .box:hover .img_box img {
    transform: scale(1.09);
}

.home .trending .container .left-box .products .container .box .info {
    padding: 10px;
    margin-left: 10px;
}

.home .trending .container .left-box .products .container .box .info h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
    font-weight: 700;
    letter-spacing: 1px;
}

.home .trending .container .left-box .products .container .box .info p {
    color: #fed700;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home .trending .container .left-box .products .container .box .info .btn {
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
    background-color: #cd1e76;
    border: 1px solid #fff;
    outline: none;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    transition: all 0.15s ease-in;
}

.home .trending .container .left-box .products .container .box .info .btn:hover {
    background-color: #fff;
    color: #cd1e76;
    border: 1px solid #cd1e76;
}

.home .trending .container .right-box {
    padding: 10px 20px;
    width: 24%;
}

.home .trending .container .right-box .right_container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.home .trending .container .right-box .right_container .testimonial {
    width: 100%;
    border: 4px solid #f6f7f8;
}

.home .trending .container .right-box .right_container .testimonial .head {
    padding: 10px;
    width: 100%;
    background: #f6f7f8;
}

.home .trending .container .right-box .right_container .testimonial .head h3 {
    color: #232323;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home .trending .container .right-box .right_container .testimonial .detail {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .trending .container .right-box .right_container .testimonial .detail .img_box {
    /* margin-left: 78px; */
    margin-top: 20px;
}

.home .trending .container .right-box .right_container .testimonial .detail .info {
    margin-top: 10px;
}

.home .trending .container .right-box .right_container .testimonial .detail .info h3 {
    text-align: center;
    font-size: 14px;
    color: #232323;
    text-transform: uppercase;
}

.home .trending .container .right-box .right_container .testimonial .detail .info h4 {
    text-align: center;
    font-size: 13.2px;
    margin-top: 10px;
    color: #cd1e76;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.home .trending .container .right-box .right_container .testimonial .detail .info p {
    text-align: center;
    font-weight: 500;
    color: #232323;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.home .trending .container .right-box .right_container .newsletter {
    background: #f6f7f8;
    margin-top: 20px;
    padding: 10px;
}

.home .trending .container .right-box .right_container .newsletter .head {
    margin-top: 10px;
    width: 100%;
}

.home .trending .container .right-box .right_container .newsletter .head h3 {
    text-align: center;
    color: #232323;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.home .trending .container .right-box .right_container .newsletter .form {
    text-align: center;
    text-transform: capitalize;
    color: #8a8a8a;
}

.home .trending .container .right-box .right_container .newsletter .form p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.home .trending .container .right-box .right_container .newsletter .form input {
    margin: 15px 0;
    width: 100%;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    border: 1px solid #8a8a8a;
    color: #232323;
    border-radius: 5px;
}

.home .trending .container .right-box .right_container .newsletter .form button {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 30px;
    border: 1px solid #cd1e76;
    outline: none;
    background: #cd1e76;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.home .trending .container .right-box .right_container .newsletter .form button:hover {
    background: #fff;
    color: #cd1e76;
}

.home .trending .container .right-box .right_container .newsletter .form .icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    font-size: 20px;
}

.home .trending .container .right-box .right_container .newsletter .form .icon_box .icon {
    border: 1px solid #cd1e76;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease-in;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
}

.home .trending .container .right-box .right_container .newsletter .form .icon_box .icon:hover {
    background-color: #cd1e76;
    color: #fff;
}

/* Banners */

.home .banners {
    padding: 20px 30px;
    width: 100%;
}

.home .banners .container {
    max-width: 100%;
    display: flex;
}

.home .banners .container .left_box {
    width: 24%;
}

.home .banners .container .left_box .box {
    margin-top: 10px;
}

.home .banners .container .right_box {
    width: 75%;
}

.home .banners .container .right_box .top {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.home .banners .container .right_box .bottom {
    max-width: 100%;
    margin-top: 10px;
}

.home .banners .container .right_box .bottom img {
    width: 100%;
    object-fit: cover;
}